# Copy this file to .env and replace every value with credentials for your test environment. You can check baseURL page
STANDARD_USER_USERNAME=
STANDARD_USER_PASSWORD=
LOCKED_OUT_USER_USERNAME=
LOCKED_OUT_USER_PASSWORD=
INVALID_USER_USERNAME=
INVALID_USER_PASSWORD=